<%- include("partials/header.ejs") %>

<h1>About Me</h1>
<img class="profile" src="images/myImage.png" alt="cat profile">
<p>
  I'm a full-stack developer with 2+ years of experience building and maintaining robust, scalable web applications. My expertise spans the entire development lifecycle, from front-end design and development using React, to back-end development with Node.js. I'm passionate about crafting user-friendly experiences and creating efficient, well-documented code. I'm proficient in databases HTML, CSS, Javascript, react, tailwindcss, Node.js, Express.js and RESTful API . I'm always eager to learn new technologies and contribute to challenging projects..</p>

  <%- include("partials/footer.ejs") %>
