<%- include("partials/header.ejs") %>


  <h1>Welcome to My Portfolio!</h1>

  <p></p>
  <p>
    Hi, I'm Ismail Hammad Adekola, a passionate and dedicated web developer from Ilorin, Nigeria.
     With over 2 years of experience crafting sleek, responsive, and user-friendly web solutions,
      I thrive at the intersection of creativity and technology.

I specialize in building dynamic, high-performance web applications, leveraging modern technologies like JavaScript, React, and PostgreSQL to bring ideas to life. 
Whether it's designing pixel-perfect interfaces or developing robust backend solutions, I focus on delivering results that exceed expectations..
</p>

 <p>Currently, I'm exploring the exciting realms of cybersecurity data visualization and honing my skills as a Computer Science student at the University of the People.

Feel free to explore my projects, and let’s create something remarkable together. Check out my <a href="https://https://github.com/Hammad153" target="_blank">GitHub</a> and connect with me on  <a href="www.linkedin.com/in/ismail-hammad-bb73152b9" target="_blank">LinkedIn</a>
</p>

<a href="mailto:hammadismail1546@gmail.com">Send me a mail</a>

  <%- include("partials/footer.ejs") %>